body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

/* Right Header Navbar */

#navbar-sticky {
    display: flex;
    justify-content: space-between;
}

#nav-left-side {
    display: flex;
}

#nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 8px 30px 0 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}

#navbar-non-sticky-options {
    display: flex;
    width: 600px; /* placeholder width! */
    justify-content: space-evenly;
    font-size: 13px;
}

.result-arc { 
    max-width: 672px;
    margin-bottom: 28px;
}

.main-area {
    display: flex;
    flex-direction: column;
    width: 652px;
    margin-left: 180px;
}

.video-search-results {
    display: flex;
    justify-content: space-between;
}

#last-vid-search-rslt {
    float: right;
}

#last-vid-search-rslt-button { 
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #dfe1e5;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04),0 4px 8px 0 rgba(0,0,0,0.20);
    /*margin-left: -21px;*/
    background-color: white;
}

#ouqcontainer { 
    display: flex;
    flex-direction: column;
}

.brdr {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}

.other-user-questions {
    display: flex;
    flex-direction: column;
}

.inner-top-border-questions {
    border-top: 1px solid #e5e5e5;
}

#help-bubbles { 
    display: flex;
    justify-content: space-between;
}

.search-bubble {
    border: 1px solid #dadce0;
    border-radius: 18px;
    font: 400 12px arial,sans-serif;
    height: 36px;
    min-width: 46px;
    padding: 0 11px;
    box-sizing: border-box;
    line-height: 34px;
    text-align: center;
}

#images-ouqcontainer-last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#report-button { 
    text-decoration: none;
    color: #70757a;
    font-size: small;
    font-family: arial, sans-serif;
}

#images-more-on-this {
    text-decoration: none;
}

.typical-flex-horizontal {
    display: flex;
}

.typical-flex-column {
    display: flex;
    flex-flow: column;
}

.relevant-search-bubble {
    background-color: #f8f9fa;
    border-radius: 100px;
    min-height: 48px;
    align-items: center;
    text-decoration: none;
    margin: 4px 8px;
    color: #202124;
}

#rlvnt-cont {
    justify-content: space-around;
}

.rlvnt-cont-columns {
    flex: 1;
}

footer {
    background-color:#f2f2f2;
    position: relative;
    margin: 0px;
    border-top: 1px solid #e4e4e4;
}

footer p {
    line-height: 40px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    margin: 0 0 0 180px;
}

footer ul {
    list-style-type: none;
    float: left;
    line-height: 40px;
    margin: 0 0 0 180px;
    padding: 0;
}

footer ul li {
    float: left;
    padding-right: 25px;
    font-size: 14px;
}

footer ul li a {
    text-decoration: none;
    color: #5f6368;
}

.ftr-flex-space {
    justify-content: space-between;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

#round-dot {
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
    background: #9e9e9e;
}

#right-side-top-footer {
    border-left: 1px solid #e4e4e4;
    display: inline-block;
    line-height: 15px;
    margin-left: 13px;
    padding-left: 16px;
    font-size: 14px;
}

#bold-span-footer {
    color: #333;
    font-weight: bold;
}

#right-side-top-footer a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}