body {
    font-family: Arial, sans-serif;
}

/* Right Header Navbar */

#navbar-sticky {
    display: flex;
    justify-content: space-between;
}

#nav-left-side {
    display: flex;
}

#nav-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 8px 30px 0 30px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}

#navbar-non-sticky-options {
    display: flex;
    width: 600px; /* placeholder width! */
    justify-content: space-evenly;
    font-size: 13px;
}

.result-arc { 
    max-width: 672px;
    margin-bottom: 28px;
}

.main-area {
    display: flex;
    flex-direction: column;
    width: 652px;
}

.video-search-results {
    display: flex;
    justify-content: space-between;
}

#last-vid-search-rslt {
    float: right;
}

#last-vid-search-rslt-button { 
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #dfe1e5;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04),0 4px 8px 0 rgba(0,0,0,0.20);
    /*margin-left: -21px;*/
    background-color: white;
}

#ouqcontainer { 
    display: flex;
    flex-direction: column;
}

.brdr {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}

.other-user-questions {
    display: flex;
    flex-direction: column;
}

.inner-top-border-questions {
    border-top: 1px solid #e5e5e5;
}